

.p{
    font-size: 12px;
}
.h1{
    font-size: 32px;
}
.h2{
    font-size: 26px;
}
.h3{
    font-size: 24px;
}
.h4{
    font-size: 18px;
}
.h5{
    font-size: 16px;
}
.h6{
    font-size: 14px;
}
.h7{
    font-size: 10px;
}

.box{
    display: flex;
    width: 100%;
    height: 35px;
    flex-direction: row;
    border-style: none;
    border-color: blue;
    background-color: #070066;
    margin-left: 0px;
    color:white;
    
}

.box_1{
    flex:1;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: blue;
    align-items: center;
    justify-content: left;
    padding-left: 5PX;
    padding-right: 5PX;
    
}

.box_2{
    flex:1;
    height:500px;
    width: 100%;
    text-justify: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: rgb(51, 255, 0);
}
.box_3{
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: left;
    height: auto;
    background-color: #f0f0f0;
    border-style: NONE;
    border-radius: 0px;
    border-color: rgba(255, 0, 234, 0.979);
    color: black;
}

.box_4{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: NONE;
    border-color: blue;
    align-items: center;
}

.box_Thor{
    width: 450px;
    height: 450px;
    border-style: solid;
    position: relative;
}

.Thor{
    position: absolute;
    width: 1em;
    height: 1em;
    box-shadow:
    13em 1em black, 
    13em 2em black, 12em 2em black, 11em 2em black, 14em 2em black, 15em 2em black,
    13em 3em black, 12em 3em black, 11em 3em black, 10em 3em black, 14em 3em black, 15em 3em black, 16em 3em black, 
    13em 4em black, 12em 4em gray,  11em 4em black, 10em 4em black, 9em 4em black,  14em 4em gray,  15em 4em black, 16em 4em black, 17em 4em black,
    13em 5em black, 12em 5em gray,  11em 5em black, 10em 5em black, 9em 5em gray,   8em 5em black,  14em 5em gray,  15em 5em black, 16em 5em black, 17em 5em gray, 18em 5em black,  4em 5em black, 3em 5em black, 22em 5em black, 23em 5em black,
    13em 6em black, 12em 6em gray,  11em 6em black, 10em 6em black, 9em 6em black,  8em 6em gray,   7em 6em black,   5em 6em black,  3em 6em black,  
        14em 6em gray,  15em 6em black, 16em 6em black, 17em 6em black,  18em 6em gray,   19em 6em black,  21em 6em black, 23em 6em black,
    13em 7em black, 12em 7em gray,  11em 7em black, 10em 7em black, 9em 7em black,  8em 7em gray,   7em 7em black,   6em 7em black,  3em 7em black,
        14em 7em gray,  15em 7em black, 16em 7em black, 17em 7em black,  18em 7em gray,   19em 7em black,   20em 7em black,  23em 7em black,
    13em 8em gray,  12em 8em gray,  11em 8em gray,  10em 8em gray,  9em 8em gray,   8em 8em gray,   7em 8em gray,    6em 8em black,  4em 8em black,
        14em 8em gray,  15em 8em gray,  16em 8em gray,  17em 8em gray,   18em 8em gray,   19em 8em gray,    20em 8em black,  22em 8em black,
    13em 9em gray,  12em 9em gray,  11em 9em gray,  10em 9em gray,  9em 9em gray,   8em 9em gray,   7em 9em gray,    6em 9em black,  4em 9em black,
        14em 9em gray,  15em 9em gray,  16em 9em gray,  17em 9em gray,   18em 9em gray,   19em 9em gray,    20em 9em black,  22em 9em black,
    13em 10em burlywood, 12em 10em burlywood,  11em 10em burlywood,  10em 10em burlywood,  9em 10em yellow,   8em 10em yellow,   7em 10em gray,    6em 10em black,  5em 10em black,
        14em 10em burlywood,  15em 10em burlywood,  16em 10em burlywood,  17em 10em yellow,   18em 10em yellow,   19em 10em gray,    20em 10em black,  21em 10em black,
    13em 11em burlywood, 12em 11em burlywood,  11em 11em burlywood,  10em 11em burlywood,  9em 11em burlywood,   8em 11em yellow,   7em 11em yellow,    6em 11em black,
        14em 11em burlywood,  15em 11em burlywood,  16em 11em burlywood,  17em 11em burlywood,   18em 11em yellow,   19em 11em yellow,    20em 11em black,
    13em 12em burlywood, 12em 12em burlywood,  11em 12em black,  10em 12em white,  9em 12em burlywood,   8em 12em yellow,   7em 12em yellow,    6em 12em black,
        14em 12em burlywood,  15em 12em white,  16em 12em black,  17em 12em burlywood,   18em 12em yellow,   19em 12em yellow,    20em 12em black,
    13em 13em burlywood, 12em 13em burlywood,  11em 13em black,  10em 13em black,  9em 13em burlywood,   8em 13em yellow,   7em 13em black,
        14em 13em burlywood,  15em 13em black,  16em 13em black,  17em 13em burlywood,   18em 13em yellow,   19em 13em black,
    13em 14em burlywood, 12em 14em burlywood,  11em 14em burlywood,  10em 14em burlywood,  9em 14em burlywood,   8em 14em burlywood, 7em 14em black,
        14em 14em burlywood,  15em 14em burlywood,  16em 14em burlywood,  17em 14em burlywood,   18em 14em burlywood, 19em 14em black,
    13em 15em burlywood, 12em 15em burlywood,  11em 15em burlywood,  10em 15em burlywood,  9em 15em burlywood,   8em 15em black,      4em 15em black,
        14em 15em burlywood,  15em 15em burlywood,  16em 15em burlywood,  17em 15em burlywood,   18em 15em black,
    13em 16em burlywood, 12em 16em burlywood,  11em 16em burlywood,  10em 16em black,      9em 16em black,       5em 16em black,      4em 16em gray,      3em 16em black,
        14em 16em burlywood,  15em 16em burlywood,  16em 16em black,      17em 16em black,
    13em 17em black,     12em 17em black,      11em 17em black,      10em 17em brown,      9em 17em burlywood,   8em 17em black,      6em 17em black,     5em 17em gray,      4em 17em gray,  3em 17em gray, 2em 17em black,
        14em 17em black,      15em 17em black,      16em 17em brown,      17em 17em burlywood,   18em 17em black,
    13em 18em black,     12em 18em black,      11em 18em black,      10em 18em black,      9em 18em burlywood,   8em 18em burlywood,  7em 18em black,     5em 18em black,     4em 18em gray,  3em 18em gray, 2em 18em gray, 1em 18em black,
        14em 18em black,      15em 18em black,      16em 18em black,      17em 18em burlywood,   18em 18em burlywood,  19em 18em black,
    13em 19em black,     12em 19em cyan,       11em 19em black,      10em 19em black,      9em 19em black,       8em 19em red,        7em 19em red,       6em 19em black,     5em 19em brown, 4em 19em black, 3em 19em gray, 2em 19em black,
        14em 19em cyan,       15em 19em black,      16em 19em black,      17em 19em black,       18em 19em red, 19em 19em red,       20em 19em black,
    13em 20em black,     12em 20em black,      11em 20em black,      10em 20em grey,       9em 20em black,        8em 20em red,       7em 20em burlywood, 6em 20em burlywood, 5em 20em black, 3em 20em black,
        14em 20em black,      15em 20em black,      16em 20em grey,       17em 20em black,        18em 20em red, 19em 20em burlywood, 20em 20em burlywood, 21em 20em black,
    13em 21em black,     12em 21em cyan,       11em 21em black,      10em 21em grey,       9em 21em black,        8em 21em black,     7em 21em brown,     6em 21em burlywood, 5em 21em black,
        14em 21em cyan,       15em 21em black,      16em 21em grey,       17em 21em black,        18em 21em black,     19em 21em brown,     20em 21em burlywood, 21em 21em black,
    13em 22em yellow,    12em 22em yellow,     11em 22em yellow,     10em 22em yellow,     9em 22em black,        8em 22em brown,     7em 22em black,     6em 22em black,
        14em 22em yellow,     15em 22em yellow,     16em 22em yellow,     17em 22em black,        18em 22em brown,     19em 22em black,     20em 22em black,
    13em 23em black,     12em 23em cyan,       11em 23em black,      10em 23em grey,       9em 23em gray,         8em 23em black,     7em 23em red,       6em 23em black,     5em 23em black,
        14em 23em cyan,       15em 23em black,      16em 23em grey,       17em 23em gray,         18em 23em black,     19em 23em red,       20em 23em black,     21em 23em black,
    13em 24em black,     12em 24em black,      11em 24em gray,       10em 24em grey,       9em 24em gray,         8em 24em black,     7em 24em red,       6em 24em red,       5em 24em black,
        14em 24em black,      15em 24em gray,       16em 24em grey,       17em 24em gray,         18em 24em black,     19em 24em red,       20em 24em red,       21em 24em black,
    13em 25em red,       12em 25em red,        11em 25em black,      10em 25em yellow,     9em 25em yellow,       8em 25em black,     7em 25em black,     6em 25em red,       5em 25em black,
        14em 25em red,        15em 25em black,      16em 25em yellow,     17em 25em yellow,       18em 25em black,     19em 25em black,     20em 25em red,       21em 25em black,
    13em 26em black,     12em 26em black,      11em 26em black,      10em 26em yellow,     9em 26em yellow,       8em 26em yellow,    7em 26em black,     6em 26em black,     5em 26em black,
        14em 26em black,      15em 26em black,      16em 26em yellow,     17em 26em yellow,       18em 26em yellow,    19em 26em black,     20em 26em black,     21em 26em black,
    11em 27em black,      10em 27em black,       9em 27em black,        8em 27em black,     7em 27em black,
        15em 27em black,      16em 27em black,       17em 27em black,        18em 27em black,     19em 27em black;
}

.Thor_2 {
    position: absolute;
    width: 1px;
    height: 1px;
    box-shadow:
    13px 1px black, 
    13px 2px black, 12px 2px black, 11px 2px black, 14px 2px black, 15px 2px black,
    13px 3px black, 12px 3px black, 11px 3px black, 10px 3px black, 14px 3px black, 15px 3px black, 16px 3px black, 
    13px 4px black, 12px 4px gray,  11px 4px black, 10px 4px black, 9px 4px black,  14px 4px gray,  15px 4px black, 16px 4px black, 17px 4px black,
    13px 5px black, 12px 5px gray,  11px 5px black, 10px 5px black, 9px 5px gray,   8px 5px black,  14px 5px gray,  15px 5px black, 16px 5px black, 17px 5px gray, 18px 5px black,  4px 5px black, 3px 5px black, 22px 5px black, 23px 5px black,
    13px 6px black, 12px 6px gray,  11px 6px black, 10px 6px black, 9px 6px black,  8px 6px gray,   7px 6px black,   5px 6px black,  3px 6px black,  
        14px 6px gray,  15px 6px black, 16px 6px black, 17px 6px black,  18px 6px gray,   19px 6px black,  21px 6px black, 23px 6px black,
    13px 7px black, 12px 7px gray,  11px 7px black, 10px 7px black, 9px 7px black,  8px 7px gray,   7px 7px black,   6px 7px black,  3px 7px black,
        14px 7px gray,  15px 7px black, 16px 7px black, 17px 7px black,  18px 7px gray,   19px 7px black,   20px 7px black,  23px 7px black,
    13px 8px gray,  12px 8px gray,  11px 8px gray,  10px 8px gray,  9px 8px gray,   8px 8px gray,   7px 8px gray,    6px 8px black,  4px 8px black,
        14px 8px gray,  15px 8px gray,  16px 8px gray,  17px 8px gray,   18px 8px gray,   19px 8px gray,    20px 8px black,  22px 8px black,
    13px 9px gray,  12px 9px gray,  11px 9px gray,  10px 9px gray,  9px 9px gray,   8px 9px gray,   7px 9px gray,    6px 9px black,  4px 9px black,
        14px 9px gray,  15px 9px gray,  16px 9px gray,  17px 9px gray,   18px 9px gray,   19px 9px gray,    20px 9px black,  22px 9px black,
    13px 10px burlywood, 12px 10px burlywood,  11px 10px burlywood,  10px 10px burlywood,  9px 10px yellow,   8px 10px yellow,   7px 10px gray,    6px 10px black,  5px 10px black,
        14px 10px burlywood,  15px 10px burlywood,  16px 10px burlywood,  17px 10px yellow,   18px 10px yellow,   19px 10px gray,    20px 10px black,  21px 10px black,
    13px 11px burlywood, 12px 11px burlywood,  11px 11px burlywood,  10px 11px burlywood,  9px 11px burlywood,   8px 11px yellow,   7px 11px yellow,    6px 11px black,
        14px 11px burlywood,  15px 11px burlywood,  16px 11px burlywood,  17px 11px burlywood,   18px 11px yellow,   19px 11px yellow,    20px 11px black,
    13px 12px burlywood, 12px 12px burlywood,  11px 12px black,  10px 12px white,  9px 12px burlywood,   8px 12px yellow,   7px 12px yellow,    6px 12px black,
        14px 12px burlywood,  15px 12px white,  16px 12px black,  17px 12px burlywood,   18px 12px yellow,   19px 12px yellow,    20px 12px black,
    13px 13px burlywood, 12px 13px burlywood,  11px 13px black,  10px 13px black,  9px 13px burlywood,   8px 13px yellow,   7px 13px black,
        14px 13px burlywood,  15px 13px black,  16px 13px black,  17px 13px burlywood,   18px 13px yellow,   19px 13px black,
    13px 14px burlywood, 12px 14px burlywood,  11px 14px burlywood,  10px 14px burlywood,  9px 14px burlywood,   8px 14px burlywood, 7px 14px black,
        14px 14px burlywood,  15px 14px burlywood,  16px 14px burlywood,  17px 14px burlywood,   18px 14px burlywood, 19px 14px black,
    13px 15px burlywood, 12px 15px burlywood,  11px 15px burlywood,  10px 15px burlywood,  9px 15px burlywood,   8px 15px black,      4px 15px black,
        14px 15px burlywood,  15px 15px burlywood,  16px 15px burlywood,  17px 15px burlywood,   18px 15px black,
    13px 16px burlywood, 12px 16px burlywood,  11px 16px burlywood,  10px 16px black,      9px 16px black,       5px 16px black,      4px 16px gray,      3px 16px black,
        14px 16px burlywood,  15px 16px burlywood,  16px 16px black,      17px 16px black,
    13px 17px black,     12px 17px black,      11px 17px black,      10px 17px brown,      9px 17px burlywood,   8px 17px black,      6px 17px black,     5px 17px gray,      4px 17px gray,  3px 17px gray, 2px 17px black,
        14px 17px black,      15px 17px black,      16px 17px brown,      17px 17px burlywood,   18px 17px black,
    13px 18px black,     12px 18px black,      11px 18px black,      10px 18px black,      9px 18px burlywood,   8px 18px burlywood,  7px 18px black,     5px 18px black,     4px 18px gray,  3px 18px gray, 2px 18px gray, 1px 18px black,
        14px 18px black,      15px 18px black,      16px 18px black,      17px 18px burlywood,   18px 18px burlywood,  19px 18px black,
    13px 19px black,     12px 19px cyan,       11px 19px black,      10px 19px black,      9px 19px black,       8px 19px red,        7px 19px red,       6px 19px black,     5px 19px brown, 4px 19px black, 3px 19px gray, 2px 19px black,
        14px 19px cyan,       15px 19px black,      16px 19px black,      17px 19px black,       18px 19px red, 19px 19px red,       20px 19px black,
    13px 20px black,     12px 20px black,      11px 20px black,      10px 20px grey,       9px 20px black,        8px 20px red,       7px 20px burlywood, 6px 20px burlywood, 5px 20px black, 3px 20px black,
        14px 20px black,      15px 20px black,      16px 20px grey,       17px 20px black,        18px 20px red, 19px 20px burlywood, 20px 20px burlywood, 21px 20px black,
    13px 21px black,     12px 21px cyan,       11px 21px black,      10px 21px grey,       9px 21px black,        8px 21px black,     7px 21px brown,     6px 21px burlywood, 5px 21px black,
        14px 21px cyan,       15px 21px black,      16px 21px grey,       17px 21px black,        18px 21px black,     19px 21px brown,     20px 21px burlywood, 21px 21px black,
    13px 22px yellow,    12px 22px yellow,     11px 22px yellow,     10px 22px yellow,     9px 22px black,        8px 22px brown,     7px 22px black,     6px 22px black,
        14px 22px yellow,     15px 22px yellow,     16px 22px yellow,     17px 22px black,        18px 22px brown,     19px 22px black,     20px 22px black,
    13px 23px black,     12px 23px cyan,       11px 23px black,      10px 23px grey,       9px 23px gray,         8px 23px black,     7px 23px red,       6px 23px black,     5px 23px black,
        14px 23px cyan,       15px 23px black,      16px 23px grey,       17px 23px gray,         18px 23px black,     19px 23px red,       20px 23px black,     21px 23px black,
    13px 24px black,     12px 24px black,      11px 24px gray,       10px 24px grey,       9px 24px gray,         8px 24px black,     7px 24px red,       6px 24px red,       5px 24px black,
        14px 24px black,      15px 24px gray,       16px 24px grey,       17px 24px gray,         18px 24px black,     19px 24px red,       20px 24px red,       21px 24px black,
    13px 25px red,       12px 25px red,        11px 25px black,      10px 25px yellow,     9px 25px yellow,       8px 25px black,     7px 25px black,     6px 25px red,       5px 25px black,
        14px 25px red,        15px 25px black,      16px 25px yellow,     17px 25px yellow,       18px 25px black,     19px 25px black,     20px 25px red,       21px 25px black,
    13px 26px black,     12px 26px black,      11px 26px black,      10px 26px yellow,     9px 26px yellow,       8px 26px yellow,    7px 26px black,     6px 26px black,     5px 26px black,
        14px 26px black,      15px 26px black,      16px 26px yellow,     17px 26px yellow,       18px 26px yellow,    19px 26px black,     20px 26px black,     21px 26px black,
    11px 27px black,      10px 27px black,       9px 27px black,        8px 27px black,     7px 27px black,
        15px 27px black,      16px 27px black,       17px 27px black,        18px 27px black,     19px 27px black;
}


.footer{
    position: fixed;
    background-color:#070066 ;
    color: white;
    width: 100%;
    height: 30px;;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.body{
    flex-direction: column;
    margin-left: 0%;
}




/**************** Para la barra de selección **********************/


.volume-bar {
    justify-content: center;
    width: 100px;
    height: 8px;
    background-color: #070066;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.circle {
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: -5px; /* Alinea el círculo verticalmente */
    transition: left 0.2s;
}
